.header-bg{
    background-color:#E9D5DA;
}



.text-h1{
    color: #827397;
}

.menu-icon{
    font-size: 4em;
    color: #363062;
}

.basket-icon{
    font-size: 2.5em;
    color: #363062;
}


.footer-p{
    font-size: 1.4rem;
}
#headerimg{
    margin-top: 13%;
}

/* ////////////slide show ///////// */
.carousel{
    width: 50%;
    margin: auto;
}


